@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Gugi');

.logotipo{
	height: 50px;
	width: 50px;

}

#social{
	text-align: center;
	padding: 50px 0;
	background-color: #d3d3d3;
	font-size: 22pt;
}

#social h2{
	font-size: 15pt;
	font-family: 'Gugi', cursive;
}

#social a{
	color: #696969;
	padding: 5px;
}

#social a:hover{
	color: #1E90FF;
	transition: 1s;
}

#institucional{
	text-align: left;
	padding: 40px 0;
	background-color: #ecf0f1;
}

#institucional h2{
	color: #2ecc71;
}

.dir{
	border-right: 1px solid #D3D3D3;
}

#servicos{
	text-align: center;
	padding: 40px 0;
	background-color: #2c3e50;
}

#servicos p{
	color: white;
}

#servicos h3 {
    padding-bottom: 30px;
}

#blog {
	text-align: center;
	padding: 40px 0;
	background-color: #008B8B;
}

#blog h4 {
	color: white;
	text-align: justify;
	font-size: 15pt;
	text-decoration: none;
}

#blog a {
	margin-top: 20px;
}

#blog .container h3 {
	margin-top: 20px;
}

.nomeBlog h3 {
	padding-bottom: 30px;
}

#formulario {
    text-align: center;
    padding: 40px 0;
    background-color: #130f40;
}

.contato h2 {
    color: white;
    margin-bottom: 30px;
}

.informacoes {
    color: white;
    text-align: left;
}

.enviar {
    margin-top: 20px;
}